[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.23"
optimizer = true
optimizer_runs = 200
via_ir = true

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false

[rpc_endpoints]
arbitrum_nova = "${ARBITRUM_NOVA_RPC_URL}"
arbitrum_one = "${ARBITRUM_ONE_RPC_URL}"

[etherscan]
arbitrum_nova = { key = "${ARBISCAN_API_KEY}", url = "https://api-nova.arbiscan.io/api" }
arbitrum_one = { key = "${ARBISCAN_API_KEY}", url = "https://api.arbiscan.io/api" }